@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>


@if(!string.IsNullOrWhiteSpace(ViewData["ContactInfo"]?.ToString()))
{
    string email = ViewData["ContactInfo"].ToString();
<address>
    <strong>You can contact this Library's Owner at:</strong> <a href="mailto:@email"> @email </a><br />    
</address>

} else
{ 
    <h1>The owner of this Library would not like to be contacted</h1>
}